@font-face {
	font-family:'Officina Medium';
	src:url('../fonts/officina-medium.eot');
	src:url('../fonts/officina-medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/officina-medium.woff') format('woff'),
		url('../fonts/officina-medium.ttf') format('truetype'),
		url('../fonts/officina-medium.svg#OfficinaMedium') format('svg');
	font-weight:normal;
	font-style:normal;
}